<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav>
      <ul id="sub-navigation" class="govuk-header__sub-navigation" aria-label="Sub Level Navigation">
            <li class="govuk-header__sub-navigation-item">
              <a class="govuk-header__sub-link" href="/">
                Homepage
              </a>
            </li>
            <li class="govuk-header__sub-navigation-item">
              <a class="govuk-header__sub-link" href="/past-entries">
                Healt Diary
              </a>
            </li>
            <li class="govuk-header__sub-navigation-item">
              <a class="govuk-header__sub-link" href="/help-guide">
                Help Guide
              </a>
            </li>
      </ul>
    </nav>
  </div>
</div>
