
{% extends "layout.html" %}

{% block pageTitle %}
  Home
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Hi Adam</h1>

      <p>Your last Health Diary entry was <strong>6 hours ago</strong>

      </p>

      <p class="govuk-body-s"><strong>Morning</strong> <br>
        Woken at 7:30 <br>
        Helped out of bed. Helped with toileting. Helped wash, put on clothes, get downstairs.
        Ate cereal with help. Gave medicine. Took to nursery.
        Helped get out of car. Helper met us
      </p>

      <a class="govuk-button" href="/new-diary-entry" role="button">
        Add new health note
      </a>

    </div>
</div>

{% endblock %}
